.cmake/
CMakeCache.txt
CMakeDoxyfile.in
CMakeDoxygenDefaults.cmake
CMakeFiles/
Makefile
__pycache__/
cmake_install.cmake
compile_commands.json
libresponse_psi4.so

README.html

# symlink / cloned repo
libresponse

# Doxygen
html/
latex/

# Psi4 calculations
*.clean
*.out
output.dat
timer.dat

# Q-Chem
pathtable
