CMakeCache.txt
CMakeFiles/
Makefile
cmake_install.cmake
libresponse_psi4.so
__pycache__/

# symlink
libresponse

# Psi4 calculations
*.clean
*.out
output.dat
timer.dat

# Q-Chem
pathtable

.ccls-cache/
