.cmake/
CMakeCache.txt
CMakeFiles/
Makefile
__pycache__/
cmake_install.cmake
compile_commands.json
libresponse_psi4.so

# symlink
libresponse

# Psi4 calculations
*.clean
*.out
output.dat
timer.dat

# Q-Chem
pathtable
